#expertise-widget {
	background: url(layout/path.png) no-repeat center top;
	padding-bottom: 200px;
}

.expertise-widget-journal {

	text-align: right;
	a {
		color: #fff;
		padding: 10px 0px 10px 26px;
		background-image: url(layout/ico-journal-sm.png);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 18px 22px;
	}

	@include mobile-only {
		padding-top: 30px;
		padding-right: 10px;
	}
}

$expertise-row-heigth: 270px;

.expertise-widget-detail {

	height: $expertise-row-heigth;
	margin-bottom: 10px;

	.expertise-widget-detail-block {
		display: inline-block;
	}

	.expertise-widget-icon {
		background-color: #EDECE8;
		background-color: rgba(237,236,232, 0.9);
		width: 290px;
		padding-left: 30px;
		padding-right: 30px;
		height: $expertise-row-heigth;
		float: left;

		@include mobile-only {
			padding-left: 0px;
			padding-right: 0px;
			display: block;
			width: 100%;
			height: 30px;
		}

		.even & {
			float: right;
		}
	}

	.expertise-widget-description {
		background-color: #EDECE8;
		background-color: rgba(237,236,232, 0.9);
		width: 330px;
		height: $expertise-row-heigth;
		padding-right: 20px;
		float: left;

		.even & {
			padding-right: 0px;
			padding-left: 20px;
		}

		@include mobile-only {
			width: 100%;
			padding-right: 0px;
			padding-left: 0px;

			h2 {
				text-align: center;
			}

			p {
				margin-right: 10px;
				margin-left: 10px;
			}

			.even & {
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}

	.expertise-widget-blockquote {
		width: 240px;
		height: $expertise-row-heigth;
		float: right;
		background-color: #00748B;

		@include mobile-only {
			display: none;
		}

		&.bg-color-identity-design {
			background-color: #00758C;
		}

		&.bg-color-online-marketing {
			background-color: #75BEE9;
		}

		&.bg-color-web-design {
			background-color: #A6CE39;
		}

		&.bg-color-web-development {
			background-color: #F15A22;
		}


		ul {
			list-style: none;
			margin: 20px 0px 0px 20px;
			padding: 0px;

			li {
				color: #fff;
				font-size: 1.4em;
				margin-bottom: 5px;
			}
		}

		.even & {
			float: left;
		}
	}
}

#expertise-widget {
	.odd, .even {
		margin-top: 100px;
	}
}
div.expertise-widget-image {
	display: block;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: -32px;

	width: 290px;
	height: 215px;

	@include mobile-only {
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		height: 74px;
	}


	&.identity-design-img {
		background-size: 290px 215px;
		background-image: url(layout/iddesign-med.png);

		@include mobile-only {
			background-size: 100px 74px;
		}
	}

	&.web-design-img {
		background-size: 290px 193px;
		background-image: url(layout/webdesign-med.png);

		@include mobile-only {
			background-size: 100px 67px;
		}
	}

	&.web-development-img {
		background-size: 290px 165px;
		background-image: url(layout/webdev-med.png);

		@include mobile-only {
			background-size: 100px 57px;
		}
	}

	&.online-marketing-img {
		background-size: 290px 167px;
		background-image: url(layout/onlinemarketing-med.png);

		@include mobile-only {
			background-size: 100px 58px;
		}
	}
}
