{embed="pages/_top"}

{embed="pages/_header"}

<!-- CONTENT -->

<div class="row page-title">
    <div class="container">
        <div class="span12">
            <header>
                <h1 class="not_found">404</h1>
            </header>
        </div>
    </div>
</div>

<div class="row page-body not_found">
    <div class="container">
        <div class="row">
            <!-- Intro Text -->
            <div class="span12 intro-text">
                <h3>
                    {page_not_found}
                </h3>
            </div>
        </div>
        
    </div>
</div>

{embed="pages/_footer"}

{embed="pages/_bottom"}
