<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{exp:structure:titletrail site_name="yes"}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel='stylesheet' href='{path="prototype/Build/1dcdafd376f35f8f8c80f2b6bd0d2a42.css"}'>
	{!-- <link rel='stylesheet' href='{path="prototype/Build/assets/styles/style.css"}'> --}
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>
