{embed="pages/_top"}

{embed="pages/_header"}

<!-- CONTENT -->
{embed="pages/_page_header"}
        <!-- Expertise -->

        <div id="expertise-widget" class="span12">
            {exp:channel:categories category_group="1" style="linear"}
            <div class="row {switch}">
                <div class="span12">
                    <div class="row expertise-widget-detail">
                        <div class="span12">
                            <div class="expertise-widget-detail-block expertise-widget-icon">
                                <div class="expertise-widget-image {category_url_title}-img"></div>
                            </div>
                            <div class="expertise-widget-detail-block expertise-widget-blockquote">
                                {topics}
                            </div>
                            <div class="expertise-widget-detail-block expertise-widget-description">
                                <h2>{category_name}</h2>
                                <p>
                                    {category_description}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row expertise-widget-journal">
                        <div class="span12">
                            <a href="#">{category_name} Journal</a>
                        </div>
                    </div>
                </div>
            </div>
            {/exp:channel:categories}

        </div>

    </div>
</div>

{embed="pages/_footer"}

{embed="pages/_bottom"}
