{embed="pages/_top"}

{embed="pages/_header"}

<!-- CONTENT -->
{exp:channel:entries disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"}
<div class="row page-title">
    <div class="container">
        <div class="span12">
            <header>
                <h1 class="{url_title}">{title}</h1>
            </header>
        </div>
    </div>
</div>
{/exp:channel:entries}

<div class="row page-body journal">
    <div class="container">
        <div class="span12">
            <!-- filter section -->
            {if "{freebie_break_1}" != ""}
            <section class="row">
                <div class="span12">
                    <div class="filter-wrapper">
                        <div class="filter-label">Viewing</div>
                        <div class="filter-bar">
                            {if "{freebie_break_1}" == "category"}
                            Posts related to
                            <span>{exp:freebie:category_name segment='4'}</span>
                            {/if}
                            {if "{freebie_break_1}" == "tag"}
                            Posts tagged with
                            <span>{exp:tag:tag_name}{freebie_last}{/exp:tag:tag_name} </span>
                            {/if}
                        </div>
                        <a href="{path='/journal'}" class="close"></a>
                    </div>
                </div>
            </section>
            {/if}

            <!-- blog section -->
            <section class="row">
                <div class="span12">
                    {if "{freebie_break_1}" == "tag"}
                        {exp:tag:entries tag="{freebie_last}"}
                        <article class="{if count == "1"}featured{if:else}{switch='even|odd'}{/if}">
                            {if count == "1"}
                            <blockquote>
                                <h3>{journal_blockquote}</h3>
                            </blockquote>
                            {/if}
                            <header>
                                <h1><a href="{page_uri}">{title}</a></h1>
                            </header>
                            {journal_content:excerpt}
                            <footer>
                                <time datetime="{entry_date format="%Y-%m-%d"}">
                                    <span class="month">{entry_date format="%M"}</span>
                                    <span class="day">{entry_date format="%j"}</span>
                                </time>
                                <div class="tags-categories">
                                    <div class="categories">
                                        {categories show_group="1"}
                                            <a href="{path='/journal/filter'}" class="category {category_url_title}"></a>
                                        {/categories}
                                    </div>
                                    <div class="tags">
                                        {exp:tag:tags
                                            entry_id="{entry_id}"
                                            backspace="8"
                                            orderby="tag_name"
                                            sort="desc"
                                            limit="3"
                                        }<a href="{path='/journal/filter/tag'}/{websafe_tag}">{tag}</a> &bull; {/exp:tag:tags}
                                    </div>
                                </div>
                            </footer>
                        </article>
                        {/exp:tag:entries}
                    {if:else}
                        {exp:channel:entries
                            channel="journal"
                            disable="category_fields|member_data|pagination|trackbacks"
                            dynamic="off"
                            require_entry="yes"
                            category="{exp:freebie:category_id segment='4'}"
                            parse="inward"
                        }
                        <article class="{if count == "1"}featured{if:else}{switch='even|odd'}{/if}">
                            {if count == "1"}
                            <blockquote>
                                <h3>{journal_blockquote}</h3>
                            </blockquote>
                            {/if}
                            <header>
                                <h1><a href="{page_uri}">{title}</a></h1>
                            </header>
                            {journal_content:excerpt}
                            <footer>
                                <time datetime="{entry_date format="%Y-%m-%d"}">
                                    <span class="month">{entry_date format="%M"}</span>
                                    <span class="day">{entry_date format="%j"}</span>
                                </time>
                                <div class="tags-categories">
                                    <div class="categories">
                                        {categories show_group="1"}
                                            <a href="{path='/journal/filter'}" class="category {category_url_title}"></a>
                                        {/categories}
                                    </div>
                                    <div class="tags">
                                        {exp:tag:tags
                                            entry_id="{entry_id}"
                                            backspace="8"
                                            orderby="tag_name"
                                            sort="desc"
                                            limit="3"
                                        }<a href="{path='/journal/filter/tag'}/{websafe_tag}">{tag}</a> &bull; {/exp:tag:tags}
                                    </div>
                                </div>
                            </footer>
                        </article>
                        {/exp:channel:entries}
                    {/if}
                </div>
            </section>
        </div>
        <div class="span12">
            
        </div>
    </div>
</div>

{embed="pages/_footer"}

{embed="pages/_bottom"}
