{embed="pages/_top"}

{embed="pages/_header"}

<!-- CONTENT -->
{exp:channel:entries 
	dynamic="off"
	entry_id="{structure:parent:entry_id}"
	limit="1"
	disable="categories|category_fields|member_data|pagination|trackbacks"
}
<div class="row page-title">
    <div class="container">
        <div class="span12">
            <header>
                <h1 class="journal">{title}</h1>
            </header>
        </div>
    </div>
</div>
{/exp:channel:entries}

<div class="row page-body journal-detail">
    <div class="container">
        <div class="span12">
            <!-- filter section -->
            {exp:channel:entries disable="pagination|trackbacks"}
            	{if no_results}{redirect="404"}{/if}
            <section class="row">
                <div class="span12">
                    <article>
                        <header>
                            <time datetime="{entry_date format="%Y-%m-%d"}">
                                <span class="month">{entry_date format="%M"}</span>
                                <span class="day">{entry_date format="%j"}</span>
                            </time>
                            <h1>{title}</h1>
                        </header>
						
                        {journal_content:excerpt}

                        <blockquote>
                            <h3>{journal_blockquote}</h3>
                        </blockquote>

                        {journal_content:extended}
                        
                        <footer>
                            {embed="pages/_journal_detail_footer" author_id="{author_id}"}
                                <div class="social">
                                    <span class="tags">
                                    {exp:tag:tags
                                        entry_id="{entry_id}"
                                        backspace="8"
                                        orderby="tag_name"
                                        sort="desc"
                                        limit="3"
                                    }<a href="{path='/journal/filter/tag'}/{websafe_tag}">{tag}</a> &bull; {/exp:tag:tags}
                                    </span>
                                    <span class="cat-group">
                                        {categories show_group="1"}
                                            <a href="{path='/journal/filter'}" class="category {category_url_title}"></a>
                                        {/categories}
                                    </span>
                                    
                                    <div class="share">
                                        <div class="social-twitter">
                                            <a href="https://twitter.com/share" class="twitter-share-button" data-via="20Milers">Tweet</a>
                                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                        </div>

                                        <div class="social-fb">
                                            <div class="fb-like" data-href="{page_url}" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        
                    </article>
                </div>
            </section>
            {/exp:channel:entries}

        </div>
    </div>
</div>

{embed="pages/_footer"}

{embed="pages/_bottom"}
